# fly.toml app configuration file generated for poker-planning-wispy-mountain-6009 on 2026-01-17T21:05:08-07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'poker-planning-wispy-mountain-6009'
primary_region = 'sjc'

[build]

[env]
  HTTP_MODE = 'true'
  PORT = '3000'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
